<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
    <h1>Formulario de Persona</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.nombre.label }} {{ form.nombre() }} <br><br>
        {{ form.correo.label }} {{ form.correo() }} <br><br>
        {{ form.notas.label }} {{ form.notas() }} <br><br>
        {{ form.fecha_entrada.label }} {{ form.fecha_entrada() }} <br><br>
        {{ form.estado.label }} {{ form.estado() }} <br><br>
        {{ form.enviar() }}
    </form>
</body>
</html>


