<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registros</title>
</head>
<body>
    <h1>Personas Registradas</h1>
    <ul>
    {% for persona in personas %}
        <li>
            <strong>Nombre:</strong> {{ persona.nombre }} <br>
            <strong>Email</strong>   {{ persona.correo }} <br>
            <strong>Notas:</strong>  {{ persona.notas or "Sin notas" }} <br>
            <strong>Fecha de entrada:</strong> {{ persona.fecha_entrada }} <br>
            <strong>Estado:</strong> {{ persona.estado }} <br><br>
        </li>
    {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Volver al formulario</a>
</body>
</html>
